h1,
h2,
h3,
p {
  margin: 0;
  color: #2F2F2F;
}

html {
  min-width: 320px;
  background: 0 100% / 100% 1159px url("@img/content/final-back.png") no-repeat;
  // 1159px or auto
}

html,
body {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 500;
  line-height: 149.4%;
  font-size: 16px;
}

a {
  font-weight: 500;
  line-height: 149.4%;
  color: #181818;
  text-decoration: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  // & :hover{
  //   transition: 0.3s;
  //   background-color: $dark-orange;
  // }

}

textarea {
  font-family: 'Montserrat', sans-serif;
}

:root {
  font-family: 'Montserrat', sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  width: 87.5%;
  margin: 0 auto;
}

//Цвета
$green: #82BC00;
$orange: #EE7700;
$dark-orange:#E86100;
$black:#2F2F2F;
$white:#FFFFFF;
$light-white:#FBF8F8;

//Переменные для адаптива
@mixin breakpoint($point) {
  @if $point==md {
    @media(max-width: 768px) {
      @content;
    }
  }

  @else if $point==xs {
    @media(max-width: 320px) {
      @content;
    }
  }
}


// кнопки-ссылки (наше меню, подробнее, оставить отзыв и тд)
.btn-slider-prev,
.btn-slider-next {
  width: 46px;
  height: 46px;
  cursor: pointer;
  border-radius: 50%;
  border: none;
  z-index: 99;
  transition: 0.3s ease;
}

.btn-slider-prev {
  background: url('@img/icons/sl-arrow-left.svg') 0% 50% no-repeat;
  background-position: center;
  background-color: $green;
}

.btn-slider-prev:hover {
  background-color: #80bc00c9;
}

.btn-slider-next {
  background: url('@img/icons/sl-arrow-right.svg') 0% 50% no-repeat;
  background-position: center;
  background-color: $orange;
}

.btn-slider-next:hover {
  background-color: $dark-orange;
}

.link {
  padding: 15px 55px;
  text-decoration: none;
  color: white;
  font-weight: 600;
  background-color: $orange;
  border-radius: 0 24px 24px 24px;
  border: none;
}

.link-alternative {
  background-color: $white;
  color: $green;
}

// элементы формы
.input {
  position: relative;
  font-size: 14px;
  color: #585858;
  width: 100%;

  &-field {
    width: 90%;
    height: 50px;
    border: 1px solid #585858;
    border-radius: 5px;
    padding: 0 15px;
    font-weight: 400;
  }

  &-label {
    position: absolute;
    left: 10px;
    top: -15%;
    padding: 0 5px;
    background: $white;
    font-weight: 600;
  }
}

input:focus {
  outline: none;
  border-color: #3a3737;
}

// фон
body {
  background: 0 0 / 100% auto url("@img/content/back2-mobile.png") no-repeat,
    0 0 / 100% auto url("@img/content/back1-mobile.png") no-repeat;
}