.section-main-screen {
  padding: 40px 0 0 0;

  .main-screen {
    &__location {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }

      p {
        font-size: 17px;
      }
    }

    &__title {
      margin-top: 25px;

      h1 {
        font-size: 28px;
        font-weight: 700;
      }
    }

    &__description {
      margin: 15px 0 34px 0;
    }

    &__swiper {
      position: relative;
      overflow: hidden;
      margin: 60px 0 0 0;
      width: 90%;

      &-prev,
      &-next {
        display: none;
      }

      .swiper-wrapper {
        .swiper-slide {
          max-width: 380px;
          max-height: 239px;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 100%;
          }

          &__link {
            position: relative;
            display: flex;
            align-items: center;
            width: 80%;
            top: -50px;
            background-color: $white;
            padding: 7px 10px;
            border-radius: 5px;
            text-decoration: none;

            @media (min-width: 500px) {
              padding: 10px 10px;
              top: -50px;
            }

            img {
              width: 20px;
              height: 20px;
            }

            p {
              font-size: 13px;
              font-weight: 600;
              margin: 0 auto 0 10px;
            }

            :first-child {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

.section-popular-dishes {
  position: relative;
  padding: 55px 0 0 0;

  .popular-dishes {
    &__title {
      line-height: 29px;
    }

    &__description {
      margin: 15px 0 26px 0;
    }

    &__swiper {
      position: relative;
      margin: 60px 0 0 0;
      width: 100%;
      background: right top / 70% 55% url("@img/content/BG.png") no-repeat;

      @media (min-width: 370px) {
        height: 670px;
      }

      @media (min-width: 380px) {
        height: 690px;
      }

      @media (min-width: 400px) {
        height: 740px;
      }

      @media (min-width: 415px) {
        height: 790px;
      }

      @media (min-width: 460px) {
        height: 850px;
      }

      @media (min-width: 490px) {
        height: 900px;
      }

      @media (min-width: 550px) {
        background-size: 60% 55%;
      }

      &-prev,
      &-next {
        position: absolute;
        bottom: 1%;

        @media (min-width: 370px) {
          bottom: 5%;
        }

        @media (min-width: 400px) {
          bottom: 8%;
        }

        @media (min-width: 410px) {
          bottom: 7%;
        }

        @media (min-width: 415px) {
          bottom: 11%;
        }

        @media (min-width: 423px) {
          bottom: 9.5%;
        }

        @media (min-width: 445px) {
          bottom: 8%;
        }

        @media (min-width: 460px) {
          bottom: 11%;
        }

        @media (min-width: 480px) {
          bottom: 9%;
        }

        @media (min-width: 490px) {
          bottom: 12%;
        }

        @media (min-width: 510px) {
          bottom: 13%;
        }
      }

      &-next {
        right: 17%;
      }

      &-prev {
        right: 35%;
      }

      &-pagination {
        pointer-events: none;
        z-index: 1;
        position: absolute;
        top: 380px;
        // bottom: 27%;
        right: 6%;

        @media (min-width: 335px) {
          top: 385px;
        }
        @media (min-width: 342px) {
          top: 365px;
        }
        @media (min-width: 355px) {
          top: 375px;
        }
        @media (min-width: 370px) {
          top: 380px;
        }
        @media (min-width: 435px) {
          top: 365px;
        }
        @media (min-width: 500px) {
          top: 380px;
        }

        img {
          width: 100px;

          @media (min-width: 380px) {
            height: 350px;
          }

          @media (min-width: 400px) {
            height: 370px;
          }

          @media (min-width: 460px) {
            height: 410px;
          }
        }

        .dots {
          position: absolute;
          top: 0;
          width: 100%;

          div {
            position: relative;
            width: 5px;
            height: 5px;
            background-color: $white;
            border-radius: 30px;
            transition: 0.2s;
          }

          .active {
            width: 8px;
            height: 8px;
          }

          .dot1 {
            top: 40px;
            left: 52px;

            @media (min-width: 380px) {
              left: 49px;
            }

            @media (min-width: 400px) {
              left: 47px;
            }

            @media (min-width: 460px) {
              left: 44px;
            }
          }

          .dot2 {
            top: 80px;
            left: 79px;

            @media (min-width: 380px) {
              left: 78px;
            }

            @media (min-width: 400px) {
              left: 76px;
            }

            @media (min-width: 460px) {
              left: 72px;
            }
          }

          .dot3 {
            top: 125px;
            left: 94px;

            @media (min-width: 400px) {
              left: 91px;
            }

            @media (min-width: 460px) {
              left: 88px;
            }
          }

          .dot4 {
            top: 190px;
            left: 94px;

            @media (min-width: 380px) {
              left: 95px;
            }

            @media (min-width: 400px) {
              left: 96px;
            }

            @media (min-width: 460px) {
              left: 97px;
            }
          }

          .dot5 {
            top: 240px;
            left: 76px;

            @media (min-width: 380px) {
              left: 81px;
            }

            @media (min-width: 400px) {
              left: 86px;
            }

            @media (min-width: 460px) {
              top: 250px;
              left: 91px;
            }
          }

          .dot6 {
            top: 275px;
            left: 50px;

            @media (min-width: 380px) {
              left: 60px;
            }

            @media (min-width: 400px) {
              top: 285px;
              left: 65px;
            }

            @media (min-width: 460px) {
              top: 300px;
              left: 74px;
            }
          }
        }
      }

      .swiper-wrapper {
        padding: 0 0 30px 0;

        .swiper-slide {
          padding: 10px 0 0 0;

          img {
            width: 100%;

            @media (min-width: 500px) {
              width: 514px;
              height: 504px;
            }

            @media (min-width: 520px) {
              position: relative;
              right: -5%;
            }

            @media (min-width: 570px) {
              position: relative;
              right: -8%;
            }
          }

          .content-wrapper {
            margin-top: 23px;
            box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.11);
            border-radius: 0 30px 30px 30px;
            padding: 36px 0 28px 0;

            .content-inner {
              margin: 0 0 0 36px;

              &__title {
                h3 {
                  font-size: 16px;
                }
              }

              &__description {
                width: 80%;

                p {
                  font-size: 14px;
                  margin: 10px 0;
                }
              }

              &__price {
                margin: 10px 0;

                p {
                  color: $orange;
                }
              }

              &__link {
                a {
                  font-size: 14px;
                  color: $black;
                  font-weight: 600;

                  img {
                    width: 10px;
                    height: 9px;
                    transform: rotate(-90deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-menu-dishes {
  margin-top: 23%;

  @media (min-width: 420px) {
    margin-top: 0;
  }

  .type-dishes {
    &-title {
      text-align: center;
    }

    &-slider {
      margin-top: 22px;
      overflow: hidden;
      position: relative;

      .slider-menu {
        &__wrapper {
          &__item {
            .dishes-tab-nav {

              // display: flex;
              .tab-underline {
                display: none;
              }
            }
          }

          //Активный слайд в слайдере
          .swiper-slide-active {
            .dishes-tab-nav {
              display: flex;

              justify-content: center;

              & a {
                font-weight: 600;
              }
            }

            .tab-underline {
              display: block;
              position: relative;
              margin-top: 10px;
              animation-duration: 1s;
              animation-name: slidein;
              animation-iteration-count: 1;
              background-color: $orange;
              width: 100%;
              height: 3px;

              @keyframes slidein {
                from {
                  right: -50%;
                  width: 0%;
                }

                to {
                  right: 0%;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .line-slider {
        position: relative;
        top: -2px;
        width: 100%;
        height: 1px;
        background: #989898;
      }
    }
  }

  .menu-food-container {
    width: 100%;
    margin-top: 23px;

    .menu-food-slider {
      position: relative;
      overflow: hidden;

      .food-slider {
        &-content {
          display: flex;
          flex-direction: column;
          align-items: center;

          .food-img {
            width: 173px;

            position: absolute;
            z-index: 2;

            @media (min-width:500px) {
              width: 185px;
            }

            @media (min-width:650px) {
              width: 190px;
            }
          }

          .btn-slider-menu {
            visibility: hidden;
            background: $white;
            width: 33.98px;
            height: 33.98px;
            cursor: pointer;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            // position: absolute;
            // left: 12%;
            z-index: 3;
            position: fixed;
            z-index: 3;
            margin: 5px 0 0 -105px;

            @media (min-width:650px) {
              margin: 10px 0 0 -115px;
            }
          }

          .food-title {
            background: $white;
            border-radius: 0px 26.5935px 26.5935px 26.5935px;
            width: 100%;
            max-width: 277px;
            height: 157px;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            margin-top: 123px;

            & h3 {
              font-size: 14px;
              margin-top: 49px;
              font-weight: 600;
            }

            & p {
              margin-top: 17px;
              font-size: 12px;
              width: 173px;
            }
          }
        }

        .swiper-slide-active {
          .btn-slider-menu {
            visibility: visible;
          }

          .food-title {
            background: $orange;
            box-shadow: 0px 0px 8.68361px rgba(255, 119, 20, 0.44);

            & h3,
            p {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.section-about-company {
  padding: 95px 0 0 0;

  .about-company {
    &__preview {
      display: flex;
      justify-content: center;

      img {
        width: 100%;

        @media (min-width: 450px) {
          width: 390px;
        }
      }
    }

    &__title {
      margin-top: 25px;

      h2 {
        font-size: 24px;
        font-weight: 700;
      }
    }

    &__description {
      margin: 12px 0 35px 0;

      p {
        font-weight: 400;
        font-size: 14px;
      }
    }
  }
}

.section-form-call {
  margin-top: 55px;
  padding: 46px 0;
  background: 0 0 / cover url("@img/content/back3.png") no-repeat;

  .wrapper {
    .form-call {
      background-color: white;
      border-radius: 25px;

      &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 0;
        margin: 0 20px;
        text-align: center;
      }

      &__title {
        h2 {
          font-weight: 700;
          font-size: 16px;
        }
      }

      &__description {
        margin: 13px 0 15px 0;

        p {
          font-weight: 400;
          font-size: 13px;
        }
      }

      .input {
        margin-top: 15px;
      }

      .link {
        margin: 20px 0;
      }

      &__conf {
        font-weight: 500;
        font-size: 11px;

        span {
          text-decoration: underline;
          font-weight: 600;
        }
      }
    }
  }
}

.section-instruction {
  margin-top: 19.5%;

  .wrapper {
    .instruction {
      &__title {
        text-align: center;
      }

      &__tabs-container {
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tab-dots {
          display: none;
        }

        @media (min-width: 800px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        @media (min-width: 1400px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 61px;
        }

        @media (min-width: 1600px) {
          .tab-dots {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: gray;
          }
        }

        .tab {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          margin: 0 0 21px 0;
          padding: 27px;
          box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.04);
          background-color: rgb(255, 255, 255);
          border-radius: 0px 33px 33px 33px;
          height: 224px;
          width: 80%;
          transition: 0.8s;
          transition-property: height;
          transition: background-color 0.8s;

          @media (min-width: 800px) {
            width: 40%;
          }

          @media (min-width: 1600px) {
            width: 17%;
            margin: 0;
          }

          & svg path,
          p,
          h3,
          &__link {
            transition: 0.5s;
          }

          svg {
            width: 32px;
            height: 35px;

            path {
              fill: $black;
            }
          }

          p,
          h3 {
            color: $black;
          }

          h3 {
            margin: 14px 0 10px 0;
          }

          p {
            font-size: 14px;
            font-weight: 400;
          }

          &__link {
            height: 0;
            opacity: 0;
            visibility: hidden;
          }

          &:hover {
            height: 264px;
            background-color: $orange;
            transition: 0.7s;

            svg {
              path {
                fill: $white;
              }
            }

            p,
            h3 {
              color: $white;
            }

            p {
              margin-bottom: 35px;
            }

            .tab__link {
              height: auto;
              opacity: 1;
              visibility: visible;
              color: $white;
              display: flex;
              align-items: center;
              width: 50%;

              & img {
                padding: 0 0 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

.section-reviews {
  margin-top: 9.5%;

  .reviews {
    &__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      h3 {
        font-weight: 400;
        padding: 18px 0 42px 0;
      }
    }

    &__link {
      width: 50%;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: 18px;
      line-height: 121.9%;

      & img {
        padding: 0 0 0 8px;
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__container {
      margin-top: 14%;
      position: relative;
      background-color: $white;
      box-shadow: 3.08642px 3.08642px 25.463px rgba(0, 0, 0, 0.08);
      height: 100%;
      width: 95%;
      border-radius: 0px 16.9753px 16.9753px 16.9753px;
      left: 20px;

      .human-img {
        position: absolute;
        left: -20px;
        top: 13px;
        max-width: 100%;
      }

      &__card {

        p,
        h5 {
          font-size: 12px;
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 18px 17px 0px 47px;
        height: 80%;

        .card {
          &__signature {
            display: flex;
            align-items: center;

            & img {
              position: absolute;
              left: 12px;
            }
          }
        }
      }
    }
  }
}

.section-feedback {
  margin-top: 21.5%;
  background: 0 0 / cover url("@img/content/back4.png") no-repeat;
  padding: 100px 0;
  position: relative;

  img {
    top: -10%;
    left: 5%;
    position: absolute;
    width: 110px;
  }

  .feedback {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      h2 {
        color: white;
        line-height: 29px;
      }
    }

    &__description {
      margin: 10px 0 20px 0;

      p {
        color: white;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

//НАДО ПРИВЕСТИ В АДЕКВАТНЫЙ ВИД ЭТО ВСЕ
.section-interesting-articles {
  margin-top: 19%;

  .interesting-articles {
    &__title {
      text-align: center;
    }

    &__cards {
      margin-top: 8%;
      height: 150px;

      .blog-card {
        display: flex;
        flex-direction: column;
        min-width: 100%;
        min-height: 132px;

        @media (min-width: 500px) {
          height: 160px;
        }

        &.bg-1 {
          background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            0 0 / cover url("@img/content/articles-item-bg1.png");
          border-radius: 10px;
        }

        &.bg-2 {
          background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            0 0 / cover url("@img/content/articles-item-bg2.png");
          border-radius: 10px;
        }

        &.bg-3 {
          background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            0 0 / cover url("@img/content/articles-item-bg3.png");
          border-radius: 10px;
        }

        &.bg-4 {
          background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
            0 0 / cover url("@img/content/articles-item-bg4.png");
          border-radius: 10px;
        }

        .card-content {
          padding: 24px 34px 29px 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
          height: 100%;

          & p,
          h3 {
            color: $white;
          }

          & h3 {
            padding-top: 8px;
          }
        }
      }
    }

    &__all-link {
      display: flex;
      align-items: center;
      justify-content: center;

      @media (min-width: 500px) {
        margin-top: 25px;
      }

      & a {
        display: flex;
        font-weight: 700;
        font-size: 18px;

        & img {
          padding-left: 9px;
        }
      }
    }
  }
}

.section-calculator {
  margin-top: 20.5%;
  position: relative;
  background: rgba($color: #000000, $alpha: 0.28);

  .test-back {
    position: absolute;
    z-index: -1;
    width: 100%;
  }

  .calculator {
    padding: 70px 0 50px 0;

    h2,
    p {
      color: white;
    }

    &__title {
      h2 {
        font-weight: 800;
        font-size: 24px;
      }
    }

    &__description {
      margin-top: 20px;

      p {
        width: 90%;
        line-height: 25px;
        font-weight: 400;
      }
    }

    &__form {
      margin-top: 20px;

      .input {
        margin-top: 15px;

        &-alt {
          border: 1px solid #ffffff;
          background-color: #000000;
          color: #a2a5af;
        }

        &-label {
          background-color: #000000;
          color: white;
        }

        &-date {
          width: 40%;
          font-size: 14px;
        }

        &-select {
          color: #ffffff;
          width: 70%;
        }
      }

      .link {
        margin-top: 25px;
      }
    }
  }
}

.sliders {
  &-item {
    display: none;
  }
}