.section-main-screen {
  $height-mobile-back: 685px;
  $height-desktop-back: 1039px;

  padding: 115px 0 0 0;

  background:
    0 0 / 100% $height-mobile-back url("@img/content/back2-mobile.png") no-repeat,
    -180px 0 / 672px $height-mobile-back url("@img/content/back-v2.png") no-repeat,
    0 0 / 100% $height-mobile-back url("@img/content/back-v1.png") no-repeat;

  @media (min-width: 490px) {
    background:
      0 0 / 100% $height-mobile-back url("@img/content/back2-mobile.png") no-repeat,
      100% 0 / 672px $height-mobile-back url("@img/content/back-v2.png") no-repeat,
      0 0 / 100% $height-mobile-back url("@img/content/back-v1.png") no-repeat;
  }

  @media (min-width: 768px) {
    padding: 130px 0 100px 0;
    background:
      0 0 / 100% $height-desktop-back url("@img/content/back2-mobile.png") no-repeat,
      100% 100% / 1031px auto url("@img/content/back-v3.png") no-repeat,
      0 0 / 100% $height-desktop-back url("@img/content/back-v1.png") no-repeat;
  }

  @media (min-width: 1200px) {
    padding: 200px 0 200px 0;
    background:
      0 0 / 100% $height-desktop-back url("@img/content/back2-mobile.png") no-repeat,
      100% 100% / 1031px auto url("@img/content/back-v3.png") no-repeat,
      0 0 / 100% $height-desktop-back url("@img/content/back-v1.png") no-repeat;
  }

  @media (min-width: 1440px) {
    background:
      // 0 0 / 100% $height-desktop-back url("@img/content/back2-mobile.png") no-repeat,
      100% 100% / 1031px auto url("@img/content/back-v3.png") no-repeat,
      0 0 / 100% $height-desktop-back url("@img/content/back-v1.png") no-repeat;
  }

  .main-screen {
    &__location {
      display: flex;
      align-items: center;

      img {
        margin-right: 10px;
      }

      p {
        font-size: rem(17);
      }

    }

    &__title {
      margin-top: 25px;

      h1 {
        font-size: rem(28);
        font-weight: 700;

        @media (min-width: 768px) {
          font-size: rem(40);
        }
      }
    }

    &__description {
      margin: 15px 0 34px 0;
      max-width: 493px;
    }

    &__swiper {
      position: relative;
      overflow: hidden;
      margin: 60px 0 0 0;
      width: 90%;
      max-width: 1150px;

      &-prev,
      &-next {
        display: none;
      }

      .swiper-wrapper {
        .swiper-slide {
          max-width: 380px;
          max-height: 239px;
          border-radius: 10px;
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            width: 100%;
          }

          &__link {
            position: relative;
            display: flex;
            align-items: center;
            width: 80%;
            top: -50px;
            background-color: $white;
            padding: 7px 10px;
            border-radius: 5px;
            text-decoration: none;

            @media (min-width: 500px) {
              padding: 10px 10px;
            }

            @media (min-width: 768px) {
              top: -60px;
            }

            img {
              width: 20px;
              height: 20px;
            }

            p {
              font-size: rem(13);
              font-weight: 600;
              margin: 0 auto 0 10px;

              @media (min-width: 768px) {
                font-size: rem(14);
              }
            }

            :first-child {
              width: 10px;
              height: 10px;
            }
          }
        }
      }
    }
  }
}

.section-popular-dishes {
  position: relative;
  padding: 55px 0 0 0;
  margin: 0 0 0 auto;
  // max-width: 1200px;

  @media (min-width: 900px) {
    padding-top: 0;
  }
  @media (min-width: 1200px) {
    background: right top / 30% 100% url("@img/content/BG1.png") no-repeat;
  }
  @media (min-width: 1350px) {
      padding-right: 100px;
  }
  @media (min-width: 1650px) {
    padding-right: 250px;
  }

  .popular-dishes {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    @media (min-width: 900px) {
      flex-direction: unset;
    }
    // ТУТ
    @media (min-width: 1200px) {
      position: relative;
      margin: 0 0 0 auto;
      max-width: 1200px;
    }
    // @media (min-width: 1350px) {
    //   padding-right: 100px;
    // }
    

    &-content {
      // Контент
      @media (min-width: 900px) {
        margin-top: 100px;
      }
      @media (min-width: 1200px) {
        margin-top: 270px;
      }
      // @media (min-width: 1100px) {
      //   width: 400px;
      // }
      &__title {
        h2 {
          line-height: 29px;

          @media (min-width: 768px) {
            line-height: normal;
            font-size: rem(40);
          }
        }
      }

      &__description {
        margin: 15px 0 26px 0;
        max-width: 458px;
      }
    }

    &__swiper {
      position: relative;
      margin: 60px 0 0 0;
      width: 100%;
      background: right top / 70% 55% url("@img/content/BG.png") no-repeat;
      @media (min-width: 900px) {
        margin-top: 0;
      }

      // ОРАНЖЕВЫЙ БЭКГРАУНД
      @media (min-width: 425px) {
        background: right top / 60% 58% url("@img/content/BG.png") no-repeat;
      }

      @media (min-width: 550px) {
        background: right top / 55% 65% url("@img/content/BG.png") no-repeat;
      }

      @media (min-width: 900px) {
        background: right top / 55% 80% url("@img/content/BG1.png") no-repeat;
        padding: 0 0 40px 0;
      }
      @media (min-width: 900px) {
        background: right top / 55% 80% url("@img/content/BG1.png") no-repeat;
        padding: 0 0 40px 0;
      }
      @media (min-width: 960px) {
        background: right top / 45% 80% url("@img/content/BG1.png") no-repeat;
      }
      @media (min-width: 1200px) {
        background: none;
        padding-top: 125px;
        width: 65%;
      }

      &-button-container {
        position: absolute;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        left: 50%;
        bottom: 6px;

        // КНОПКИ СЛАЙДЕРА
        @media (min-width: 375px) {
          left: 60%;
        }

        @media (min-width: 768px) {
          left: 40%;
          bottom: 20px;
        }
        @media (min-width: 900px) {
          left: 60%;
          bottom: 40px;
        }
        @media (min-width: 940px) {
          left: 55%;
        }
        @media (min-width: 1000px) {
          left: 58%;
        }
        @media (min-width: 1090px) {
          left: 55%;
        }
        @media (min-width: 1200px) {
          left: 55%;
          bottom: 9%;
        }
        @media (min-width: 1230px) {
          left: 57%;
        }
        @media (min-width: 1330px) {
          left: 59.5%;
        }
        @media (min-width: 1350px) {
          left: 55%;
        }
        @media (min-width: 1480px) {
          left: 57%;
        }
        @media (min-width: 1600px) {
          left: 61%;
        }
        @media (min-width: 1650px) {
          left: 53%;
        }
        @media (min-width: 1750px) {
          left: 56%;
        }
        @media (min-width: 1870px) {
          left: 58%;
        }
        
        
      }

      &-pagination {
        pointer-events: none;
        z-index: 1;
        position: absolute;
        bottom: 260px;
        left: 63%;

        // ПАГИНАЦИЯ
        @media (min-width: 425px) {
          left: 67%;
          bottom: 285px;
        }

        @media (min-width: 550px) {
          left: 68%;
          bottom: 290px;
        }

        @media (min-width: 900px) {
          left: 80%;
          bottom: 160px;
        }
        @media (min-width: 1200px) {
          left: 85%;
          bottom: 210px;
        }
        @media (min-width: 1350px) {
          left: 83%;
        }
        @media (min-width: 1650px) {
          left: 77%;
        }
        @media (min-width: 1900px) {
          left: 80%;
        }

        img {
          width: 100px;

          @media (min-width: 550px) {
            width: 130px;
          }
        }

        .dots {
          position: absolute;
          top: 0;
          width: 100%;

          div {
            position: relative;
            width: 5px;
            height: 5px;
            background-color: $white;
            border-radius: 30px;
            transition: 0.2s;

            @media (min-width: 550px) {
              width: 8px;
              height: 8px;
            }
          }

          .active {
            width: 9px;
            height: 9px;

            @media (min-width: 550px) {
              width: 12px;
              height: 12px;
            }
          }

          .dot1 {
            top: 40px;
            left: 52px;

            @media (min-width: 550px) {
              top: 40px;
              left: 55px;
            }
          }

          .dot2 {
            top: 80px;
            left: 79px;

            @media (min-width: 550px) {
              top: 95px;
              left: 100px;
            }
          }

          .dot3 {
            top: 125px;
            left: 94px;

            @media (min-width: 550px) {
              top: 180px;
              left: 124px;
            }
          }

          .dot4 {
            top: 190px;
            left: 94px;

            @media (min-width: 550px) {
              top: 260px;
              left: 117px;
            }
          }

          .dot5 {
            top: 240px;
            left: 76px;

            @media (min-width: 550px) {
              top: 320px;
              left: 90px;
            }
          }

          .dot6 {
            top: 275px;
            left: 50px;

            @media (min-width: 550px) {
              top: 360px;
              left: 53px;
            }
          }
        }
      }

      .swiper-wrapper {
        padding: 0 0 30px 0;
        

        .swiper-slide {
          padding: 10px 0 0 0;
          display: flex;
          flex-direction: column;
          align-items: center;

          img {
            // КАРТИНКА
            width: 250px;
            height: 250px;
            margin: 25px 0 45px 0;

            @media (min-width: 425px) {
              width: 300px;
              height: 300px;
            }

            @media (min-width: 550px) {
              width: 400px;
              height: 400px;
            }

            @media (min-width: 900px) {
              align-self: flex-end;
              margin: 45px 15% 95px 0;
            }
            @media (min-width: 1200px) {
              width: 500px;
              height: 500px;
            }
          }

          .content-wrapper {
            // БЛОК ПОД КАРТИНКОЙ С ИНФОЙ
            margin-top: 23px;
            box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.11);
            border-radius: 0 30px 30px 30px;
            padding: 36px 0 28px 0;
            height: 200px;
            box-sizing: border-box;

            @media (min-width: 550px) {
              padding: 36px 20px 28px 20px;
            }

            @media (min-width: 900px) {
              position: absolute;
              bottom: 30px;
              left: 5%;
              background-color: #fff;
              padding: 27px 0px 0px 0px;
              height: 221px;
              width: 307px;
            }
            @media (min-width: 1000px) {
              left: 15%;
            }
            @media (min-width: 1200px) {
              left: 2%;
              bottom: 10%;
            }

            .content-inner {
              margin: 0 0 0 36px;

              &__title {
                h3 {
                  font-size: rem(16);
                }
              }

              &__description {
                width: 80%;

                p {
                  font-size: rem(14);
                  margin: 10px 0;
                }
              }

              &__price {
                margin: 10px 0;

                p {
                  color: $orange;
                }
              }

              &__link {
                a {
                  font-size: rem(14);
                  color: $black;
                  font-weight: 600;

                  .content-inner__link-img {
                    margin: 0;
                    width: 10px;
                    height: 9px;
                    transform: rotate(-90deg);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.section-menu-dishes {
  margin-top: 23%;


  @media (min-width: 768px) {
    margin-top: 100px;
  }

  .type-dishes {
    &-title {
      text-align: center;

      h2 {
        font-size: rem(30);
      }
    }

    &-slider {
      margin-top: 22px;
      overflow: hidden;
      position: relative;
      width: 100%;

      .slider-menu {
        &__wrapper {

          &__item {

            .dishes-tab-nav {
              @media (min-width: 1200px) {
                display: flex;
                justify-content: center;
                align-items: center;
              }

              .tab-underline {
                display: none;
              }
            }
          }

          //Активный слайд в слайдере
          .swiper-slide-active {
            .dishes-tab-nav {
              display: flex;
              justify-content: center;

              & a {
                font-weight: 600;
              }
            }

            .tab-underline {
              display: block;
              position: relative;
              margin-top: 10px;
              animation-duration: 1s;
              animation-name: slidein;
              animation-iteration-count: 1;
              background-color: $orange;
              width: 100%;
              height: 3px;

              @keyframes slidein {
                from {
                  right: -50%;
                  width: 0%;
                }

                to {
                  right: 0%;
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .line-slider {
        position: relative;
        top: -2px;
        width: 100%;
        height: 1px;
        background: #989898;
      }
    }
  }

  .menu-food-container {
    width: 100%;
    margin-top: 23px;

    .sliders {
      &-item {
        display: none;
      }
    }

    .menu-food-slider {
      position: relative;
      overflow: hidden;

      .food-slider {
        &-item {
          &-content {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .food-img {
              width: 142px;
              z-index: 2;
              margin: auto;
              position: absolute;
              top: 15px;
              left: 0;
              right: 0;

              @media (min-width:500px) {
                width: 164px;
              }

              @media (min-width:650px) {
                width: 171px;
              }

              @media (min-width:993px) {
                width: 198px;
              }
            }

            .btn-slider-menu {
              visibility: hidden;
              background: $white;
              width: 33.98px;
              height: 33.98px;
              cursor: pointer;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              z-index: 3;
              position: fixed;
              margin: -155px 0 0 -96px;

              @media (min-width:768px) {
                margin: -158px 0 0 -117px;
              }

              @media (min-width:993px) {
                margin: -176px 0 0 -129px;
              }
            }

            .food-title {
              background: $white;
              border-radius: 0px 26.5935px 26.5935px 26.5935px;
              max-width: 277px;
              height: 157px;
              display: flex;
              flex-direction: column;
              align-items: center;
              text-align: center;
              justify-content: center;
              margin-top: 123px;
              gap: 15px;
              padding: 20px 25px 0px 25px;

              & h3 {
                font-size: rem(14);
                font-weight: 600;
              }

              & p {
                font-size: rem(12);
              }

              @media (min-width:500px) {
                height: 195px;
              }


              @media (min-width:650px) {
                margin-top: 135px;
              }

              @media (min-width:993px) {
                height: 247px;
              }
            }
          }
        }

        .swiper-slide-active {
          .btn-slider-menu {
            visibility: visible;
          }

          .food-title {
            background: $orange;
            box-shadow: 0px 0px 8.68361px rgba(255, 119, 20, 0.44);

            & h3,
            p {
              color: $white;
            }
          }
        }
      }
    }
  }
}

.section-about-company {
  margin-top: 95px;
  padding: 0 0 55px 0;
  background: 0 100% / 100% 80% url("@img/content/about-company-back.png") no-repeat;

  @media (min-width: 1200px) {
    padding: 320px 0 200px 0;
    background:
      98% 40% / auto auto url("@img/content/about-company-desktop.png") no-repeat,
      0 100% / 100% 80% url("@img/content/about-company-back.png") no-repeat;
  }

  @media (min-width: 1300px) {
    background:
      90% 40% / auto auto url("@img/content/about-company-desktop.png") no-repeat,
      0 100% / 100% 80% url("@img/content/about-company-back.png") no-repeat;
  }

  @media (min-width: 1500px) {
    background:
      80% 40% / auto auto url("@img/content/about-company-desktop.png") no-repeat,
      0 100% / 100% 80% url("@img/content/about-company-back.png") no-repeat;
  }

  .about-company {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__preview {
      @media (min-width: 1200px) {
        display: none;
      }

      img {
        width: 100%;

        @media (min-width: 450px) {
          width: 390px;
        }
      }
    }

    &__title {
      margin-top: 25px;

      @media (min-width: 1200px) {
        align-self: flex-start;
      }

      h2 {
        font-size: rem(24);
        font-weight: 700;

        @media (min-width: 768px) {
          font-size: rem(30);
        }
      }
    }

    &__description {
      margin: 12px 0 35px 0;
      max-width: 545px;

      @media (min-width: 1200px) {
        align-self: flex-start;
      }

      p {
        text-align: center;
        font-weight: 400;
        font-size: rem(14);

        @media (min-width: 768px) {
          font-size: rem(16);
        }

        @media (min-width: 1200px) {
          text-align: start;
        }
      }
    }

    .link {
      @media (min-width: 1200px) {
        align-self: flex-start;
      }
    }
  }
}

.section-form-call {
  padding: 46px 0;
  background: 0 0 / cover url("@img/content/back3.png") no-repeat;

  @media (min-width: 1200px) {
    background: 0 0 / 100% 596px url("@img/content/block-9-back.png") no-repeat;
  }

  .wrapper {
    .form-call {
      box-shadow: 0 0 250px rgba($color: #000000, $alpha: .16);
      max-width: 585px;
      background-color: white;
      border-radius: 25px;

      @media (min-width: 768px) {
        padding: 80px 0;
        border-radius: 50px;
      }

      &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 35px 0;
        margin: 0 20px;
        text-align: center;
      }

      &__title {
        h2 {
          font-weight: 700;
          font-size: rem(16);

          @media (min-width: 768px) {
            font-size: rem(30);
          }
        }
      }

      &__description {
        margin: 13px 0 15px 0;
        max-width: 430px;

        p {
          font-weight: 400;
          font-size: rem(13);

          @media (min-width: 768px) {
            font-size: rem(14);
          }
        }
      }

      .input {
        max-width: 380px;
        margin-top: 15px;
      }

      .link {
        margin: 20px 0;

        @media (min-width: 768px) {
          margin: 30px 0 25px 0;
          padding: 14px 56px;
        }
      }

      &__conf {
        font-weight: 500;
        font-size: rem(11);
        max-width: 290px;

        @media (min-width: 768px) {
          font-size: rem(12);
        }

        span {
          text-decoration: underline;
          font-weight: 600;
        }
      }
    }
  }
}

.section-instruction {
  margin-top: 62px;

  @media (min-width: 768px) {
    margin-top: 100px;
  }

  .wrapper {
    .instruction {
      &__title {
        text-align: center;

        h2 {
          @media (min-width: 768px) {
            font-size: rem(30);
          }
        }
      }

      &__tabs-container {
        margin-top: 31px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tab-dots {
          display: none;
        }

        @media (min-width: 800px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
        }

        @media (min-width: 1400px) {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          margin-top: 61px;
          height: 320px;
        }

        @media (min-width: 1600px) {
          .tab-dots {
            display: block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            background-color: gray;
          }
        }

        .tab {
          cursor: pointer;
          display: flex;
          flex-direction: column;
          margin: 0 0 21px 0;
          padding: 27px;
          box-shadow: 0px 0px 33px rgba(0, 0, 0, 0.04);
          background-color: rgb(255, 255, 255);
          border-radius: 0px 33px 33px 33px;
          height: 224px;
          width: 80%;
          transition-property: height;
          transition: 0.8s, background-color 0.8s;

          @media (min-width: 800px) {
            width: 40%;
          }

          @media (min-width: 1600px) {
            width: 20%;
            margin: 0;
            padding: 20px;
          }

          & svg path,
          p,
          h3,
          &__link {
            transition: 0.5s;
          }

          svg {
            width: 32px;
            height: 35px;

            path {
              fill: $black;
            }
          }

          p,
          h3 {
            color: $black;
          }

          h3 {
            margin: 14px 0 10px 0;
          }

          p {
            font-size: rem(14);
            font-weight: 400;
          }

          &__link {
            height: 0;
            opacity: 0;
            visibility: hidden;
          }

          &:hover, &:active {
            height: 264px;
            background-color: $orange;
            transition: 0.7s;

            svg {
              path {
                fill: $white;
              }
            }

            p,
            h3 {
              color: $white;
            }

            p {
              margin-bottom: 35px;
            }

            .tab__link {
              height: auto;
              opacity: 1;
              visibility: visible;
              color: $white;
              display: flex;
              align-items: center;
              width: 50%;

              & img {
                padding: 0 0 0 5px;
              }
            }
          }
        }
      }
    }
  }
}

.section-reviews {
  margin-top: 35px;

  @media (min-width: 993px) {
    margin-top: 122px;
  }

  .reviews {
    @media (min-width: 993px) {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: start;

      h2 {
        @media (min-width: 768px) {
          font-size: rem(30);
        }
      }

      h3 {
        font-weight: 400;
        padding: 18px 0 42px 0;

        @media (min-width: 768px) {
          font-size: rem(16);
        }
      }

      @media (min-width: 993px) {
        padding-top: 89px;
      }

      @media (min-width: 1440px) {
        h2 {
          font-size: rem(34);
        }

        p {
          font-size: rem(18);
        }
      }
    }

    &__link {
      width: 50%;
      display: flex;
      align-items: center;
      font-weight: 600;
      font-size: rem(18);

      & img {
        padding: 0 0 0 8px;
      }
    }

    &__body {
      margin: 39px 0 0 20px;
      display: flex;
      flex-direction: column;
      gap: 19px;

      @media (min-width:993px) {
        margin: 0;
        align-items: flex-end;
      }
    }

    &__container {
      position: relative;
      width: 100%;
      display: flex;
      align-items: center;
      background-color: $white;
      box-shadow: 3.08642px 3.08642px 25.463px rgba(0, 0, 0, 0.08);
      border-radius: 0px 16.9753px 16.9753px 16.9753px;
      z-index: 1;

      @media (min-width:993px) {
        min-height: 162px;
        width: 60.4%;
      }

      @media (min-width:1440px) {
        width: 72.5%;
      }

      &.reviews-item-left {
        @media (min-width:993px) {
          left: -33px;
        }

        @media (min-width: 1200px) {
          left: -54px;
        }

        @media (min-width: 1440px) {
          left: -74px;
        }
      }

      .human-img {
        position: absolute;
        left: -20px;
        top: 13px;
        width: 55px;
        z-index: 1;

        @media (min-width:993px) {
          left: -39px;
          top: 10%;
          width: 75px;
        }

        @media (min-width:1200px) {
          left: -65px;
          width: 91px;
        }
      }

      &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 18px 17px 0px 47px;

        p,
        h5 {
          font-size: rem(12);
        }

        @media (min-width:993px) {

          p,
          h5 {
            font-size: rem(14);
          }
        }

        .card {
          &__signature {
            display: flex;
            align-items: center;

            & img {
              position: absolute;
              left: 12px;
            }
          }
        }
      }
    }
  }
}

.section-feedback {
  margin-top: 21.5%;
  background: 0 0 / cover url("@img/content/back4.png") no-repeat;
  background-position: center;
  padding: 100px 0;
  position: relative;

  @media (min-width: 650px) {
    margin-top: 7.5%;
    background: 0 0 / cover url("@img/content/back-form-desk.png") no-repeat;
    padding: 131.5px 0;
  }

  @media (min-width:993px) {
    margin-top: -2%;
  }

  img {
    top: -10%;
    left: 5%;
    position: absolute;
    width: 110px;

    @media (min-width:993px) {
      top: -23%;
      width: 278px;
    }
  }

  .feedback {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      max-width: 580px;

      h2 {
        color: white;

        @media (min-width: 768px) {
          font-size: rem(30);

          br {
            display: none;
          }
        }
      }
    }

    &__description {
      margin: 10px 0 20px 0;
      max-width: 630px;

      p {
        color: white;
        font-weight: 400;
        line-height: 25px;
      }
    }
  }
}

.section-interesting-articles {
  margin-top: 60px;

  .interesting-articles {
    // .interesting-articles__title

    &__title {
      text-align: center;

      @media (min-width: 1200px) {
        text-align: left;
        font-size: rem(30);
      }
    }

    // .interesting-articles__container

    &__container {
      padding-top: 23px;
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 14px;

      @media (min-width: 600px) {
        gap: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 59vh;
      }
    }

    // .interesting-articles__container-item

    &__container-item {
      display: flex;
      align-items: center;
      border-radius: 10px;
      width: 100%;
      height: 132px;
      justify-content: flex-start;

      @media (min-width: 600px) {
        height: 100%;
        align-items: flex-end;

        &.item-left-top {
          grid-row: 1 / 3;
          grid-column: 1 / 3;
        }

        &.item-right {
          grid-row: 1/4;
          grid-column: 3 / 4;
          align-items: flex-end;
        }
      }



      &.bg-1 {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
          0 0 / cover url("@img/content/articles-item-bg1.png") no-repeat;

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.67) 93.23%),
            0 0 / cover url("@img/content/articles-bg-desk1.png") no-repeat;
        }
      }

      &.bg-2 {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
          0 0 / cover url("@img/content/articles-item-bg2.png");

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 57.87%),
            0 0 / cover url("@img/content/articles-bg-desk2.png") no-repeat;
        }
      }

      &.bg-3 {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
          0 0 / cover url("@img/content/articles-item-bg3.png");

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 57.87%),
            0 0 / cover url("@img/content/articles-bg-desk3.png") no-repeat;
        }
      }

      &.bg-4 {
        background: linear-gradient(rgb(0 0 0 / 50%), rgb(0 0 0 / 50%)),
          0 0 / cover url("@img/content/articles-item-bg4.png");

        @media (min-width: 768px) {
          background: linear-gradient(180deg, rgba(0, 0, 0, 0) 48.63%, rgba(0, 0, 0, 0.74) 84.96%),
            0 0 / cover url("@img/content/articles-bg-desk4.png") no-repeat;
        }
      }

      .item-card-link {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        @media (min-width: 993px) {
          align-items: flex-end;

          &:hover {
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.58) 0%, rgba(0, 0, 0, 0.74) 84.96%);
          }
        }
      }

      .item-content {
        display: flex;
        flex-direction: column;
        padding: 0 0 0 24px;
        gap: 8px;

        & h3,
        p {
          color: $white;
        }

        @media (min-width: 993px) {
          margin-bottom: 42px;
          padding: 0 0 0 55px;
        }
      }
    }

    .link-all-articles {
      margin: 23px 0 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 700;
      font-size: rem(18);

      & img {
        padding-left: 9px;
      }

      @media (min-width: 1200px) {
        justify-content: end;
        margin: 35px 0 0 0;
      }
    }
  }
}


.section-calculator {
  margin-top: 20.5%;
  position: relative;
  background: rgba($color: #000000, $alpha: 0.28);

  .calculator {
    padding: 30px 0 50px 0;
    max-width: 551px;

    @media (min-width: 768px) {
      padding: 96px 0 50px 0;
    }

    h2,
    p {
      color: white;
    }

    &__title {
      h2 {
        font-weight: 800;
        font-size: rem(24);

        @media (min-width: 768px) {
          font-size: rem(40);
        }
      }
    }

    &__description {
      margin-top: 20px;

      p {
        width: 90%;
        line-height: 25px;
        font-weight: 400;
      }
    }

    &__form {
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;

      @media (min-width: 768px) {
        .input {
          input {
            width: 100%;
          }

          select {
            margin-left: 50px;
            width: 100%;
          }
        }

        .input-order-1 {
          width: 157px;
        }

        .input-order-2 {
          width: 202px;

          .input-label {
            left: 60px;
          }
        }

        .input-order-3 {
          width: 380px;
        }
      }

      .input {
        margin-top: 15px;

        &-alt {
          border: 1px solid #ffffff;
          background-color: inherit;
          color: #a2a5af;
        }

        &-label {
          background-color: #000000;
          color: white;
        }

        &-date {
          width: 40%;
          font-size: rem(14);
        }

        &-select {
          color: #ffffff;
          width: 70%;
        }
      }

      .link {
        margin-top: rem(25);
      }
    }
  }
}